# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Coverage
*.lcov
coverage
lib-cov

# Dependency directories
node_modules/

# Environment files
.env
.env.*
!.env.example

# Build outputs
dist
out
public
