name: CI

on: [pull_request, push]

jobs:
  ci:
    runs-on: [ubuntu-24.04]
    steps:
      - name: Checkout ${{ github.ref }}
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Run type check
        run: npx tsc --noEmit

      - name: Run start
        run: npm start
