name: CI

on: [pull_request, push]

jobs:
  ci:
    runs-on: [ubuntu-24.04]
    steps:
      - name: Checkout ${{ github.ref }}
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Run type check
        run: npx tsc --noEmit

      - name: Run start
        run: npm start
